.navbar-brand {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto; }
.content-wrapper > .container-fluid{
        margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */
